<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card p-4">
      <h2>Kim jesteśmy?</h2>
      <p>Blog Mechaniczny to miejsce dla pasjonatów inżynierii mechanicznej, gdzie dzielimy się wiedzą, nowościami i innowacjami.</p>
    </div>
    <div class="card p-4 mt-3">
      <h2>Nasza misja</h2>
      <p>Naszym celem jest dostarczanie rzetelnych i ciekawych artykułów na temat mechaniki, technologii oraz nowoczesnych rozwiązań inżynierskich.</p>
    </div>
    <div class="card p-4 mt-3">
      <h2>Kontakt</h2>
      <p>Masz pytania lub chcesz z nami współpracować? Skontaktuj się z nami poprzez e-mail: <strong>kontakt&#64;blogmechaniczny.pl</strong> lub zakładkę <strong>Kontakt</strong></p>
    </div>
  </div>
</div>
