<div class="container-fluid d-flex flex-column min-vh-100">
  <header class="header text-center py-4">
    <h1>Wszystkie artykuły</h1>
  </header>

  <div class="row">
    <div class="col-md-6 d-flex align-items-stretch" *ngFor="let post of posts">
      <div class="card mb-4 w-100">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{post?.content }}</p>
          <div class="mt-auto d-flex justify-content-between">
            <button class="btn btn-primary" (click)="readMore(post.id)">Czytaj więcej</button>
            <div class="text-end">
              <span class="ms-2">{{ post.created_at | date:'dd-MM-YY HH:mm' }}</span>
              <span class="ms-2">{{ post.user.username }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

